<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="/static/admin.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">EduNote</div>
        <form method="POST">
            <input type="hidden" name="action" value="logout">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </header>

    <!-- Navigation Menu -->
    <nav>
        <button class="nav-btn" onclick="show_section('add-user')">Add User</button>
        <button class="nav-btn" onclick="show_section('delete-user')">Delete User</button>
        <button class="nav-btn" onclick="show_section('search-user')">Search User</button>
    </nav>

    <!-- Main -->
    <main>
        <section id="home" class="section active">
        </section>

        <!-- Add User Section -->
        <section id="add-user" class="section">
            <h2>Add User</h2>
            <form method="POST" class="user-form" onsubmit="handle_submit(event, 'add-user')">
                <input class="input-field" type="hidden" name="action" value="add_user" />
                <input class="input-field" type="text" name="first_name" placeholder="First Name" autocomplete="off" required />
                <input class="input-field" type="text" name="last_name" placeholder="Last Name" autocomplete="off" required />
                <input class="input-field" type="email" name="email" placeholder="Email" autocomplete="off" required />
                <input class="input-field" type="text" name="password" placeholder="Password" autocomplete="off" minlength="8" required />
                <div class="input-radio">
                    <label>
                        <input type="radio" name="role" value="professor" />
                        Professor
                    </label>
                    <label>
                        <input type="radio" name="role" value="student" />
                        Student
                    </label>
                </div>
                <button type="submit" class="form-btn">Add</button>
            </form>
        </section>

        <!-- Delete User Section -->
        <section id="delete-user" class="section">
            <h2>Delete User</h2>
            <form method="POST" class="user-form"  onsubmit="handle_submit(event, 'delete-user')">
                <input class="input-field" type="hidden" name="action" value="delete_user" />
                <input class="input-field" type="email" name="email" placeholder="Email" autocomplete="off" required />
                <button type="submit" class="form-btn">Delete</button>
            </form>
        </section>

        <!-- Search User Section -->
        <section id="search-user" class="section">
            <h2>Search User</h2>
            <form method="POST" class="user-form" onsubmit="handle_submit(event, 'search-user')">
                <input class="input-field" type="hidden" name="action" value="search_user" />
                <input class="input-field" type="text" name="first_name" placeholder="First Name" autocomplete="off" required />
                <input class="input-field" type="text" name="last_name" placeholder="Last Name" autocomplete="off" required />
                <button type="submit" class="form-btn">Search</button>
            </form>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy;2024 EduNote | All Rights Reserved</p>
    </footer>

    <!-- JS Scripts -->
    <script src="/script/admin.js"></script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
</body>
</html>
