<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professor Page</title>
    <link rel="stylesheet" href="/static/professor.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">EduNote</div>
        
        <button class="logout-btn" type="button">Logout</button>
    </header>

    <main>
        <!-- Courses List -->
        <aside class="courses-list">
            <h2>Courses</h2>

            <ul id="courses-list"></ul>

            <button id="add-course-btn" class="add-btn" type="button">Add Course</button>
        </aside>

        <!-- Course Details -->
        <section class="course-details">
            <div class="course-details-header">
                <h2 id="selected-course">Select a Course</h2>

                <div class="hidden">
                    <button id="add-student-btn" class="add-btn" type="button">Add Student</button>
                </div>
            </div>

            <div class="student-list">
                <table>
                    <thead class="hidden">
                        <tr>
                            <th>Name</th>
                            <th class="student-grade">Grade</th>
                            <th class="student-actions">Action</th>
                        </tr>
                    </thead>

                    <tbody id="enrollment-list">
                        <!-- dynamic -->
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy;2024 EduNote | All Rights Reserved</p>
    </footer>

    <!-- Dialog Box for adding a new student or course -->
    <div id="dialog" class="dialog">
        <div class="dialog-content">
            <div>
                <span id="dialog-close" class="close-btn">X</span>

                <h2 id="dialog-title"></h2>
            </div>

            <div id="dialog-body"></div>

            <button id="confirm-btn" class="confirm-btn">Confirm</button>
        </div>
    </div>

    <script src="/script/professor.js"></script>
</body>
</html>
