<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Page</title>
    <link rel="stylesheet" href="/static/student.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">EduNote</div>
        <form method="POST">
            <input type="hidden" name="action" value="logout">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </header>

    <main>
        <h1>To Be Implemented</h1>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy;2024 EduNote | All Rights Reserved</p>
    </footer>
</body>
</html>
